<!DOCTYPE HTML>
<html lang="ja"
  data-host="http://<%= host %>"
  data-chatroom="<%= chatroom.id %>"
  data-status="<%= chatroom.status %>"
  data-ownerid="<%= chatroom.ownerId %>"
  data-urlopen="<%= isUrlOpen %>"
  <% if (isAuth) { %>
  data-userid="<%= userId %>"
  data-username="<%= userName %>"
  data-userimage="<%= userImage %>"
  <% } %>
>
<head>
<meta charset='utf-8' />
    <title><%= chatroom.title %>｜シャベリハウス</title>
    <meta name="description" content="詳しい人と話せる新感覚のQ&Aサイト">
    <meta name="keywords" content="シャベリハウス,話す,詳しい人,Q&A,解決,悩み,問題">
    <link charset='utf-8' href='/css/reset.css' rel='stylesheet' type='text/css' />
    <link charset='utf-8' href='/css/style.css' rel='stylesheet' type='text/css' />
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js" charset="UTF-8"></script><![endif]-->
    <script src="/socket.io/socket.io.js"></script>
    <% if (isProduction) { %>
    <script src="/js/dist/common.min.js"></script>
    <script src="/js/dist/chatroom.min.js"></script>
    <% } else { %>
    <script src="/js/lib/jquery-1.8.2.js"></script>
    <script src="/js/lib/jquery.cookie.js"></script>
    <script src="/js/lib/underscore.js"></script>
    <script src="/js/lib/backbone.js"></script>
    <script src="/js/lib/backbone-validation.js"></script>
    <script src="/js/lib/handlebars-1.0.rc.1.js"></script>
    <script src="/js/upload.js"></script>
    <script src="/js/menu.js"></script>
    <script src="/js/util.js"></script>
    <script src="/js/templates/chat.js"></script>
    <script src="/js/models/chat.js"></script>
    <script src="/js/views/chat.js"></script>
    <script src="/js/chatroomApp.js"></script>
    <% } %>
</head>

<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=152355228231572";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="wrap">

<% include header %>

    <div id="mainview">
        <!--
        <div class="sbtn">
            <ul>
                <li class="sbtn-tw">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-lang="ja">ツイート</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </li>
                <li class="sbtn-fb">
                    <div class="fb-like" data-href="http://syaberi-house.com" data-send="true" data-width="450" data-show-faces="true"></div>
                </li>
            </ul>
        </div>
        -->
    </div>

    <div id="content">

        <div class="left-content">

            <div class="room">
                <div class="room-inbox">
                    <div class="room-icon">
                        <a href="<%= chatroom.ownerpage %>">
                          <img class="icon_m" src="<%= chatroom.ownerimage %>">
                        </a>
                    </div>
                    <div class="room-titlebox">
                        <h2 class="room-title"><%= chatroom.title %></h2>
                        <div class="room-username"><a href="<%= chatroom.ownerpage %>">by.<%= chatroom.owner %></a></div>
                    </div>
                </div>
                <div class="room-option">
                    <div class="room-date">作成日 <%= chatroom.date %></div>
                    <div class="room-member">
                        <div class="room-member-open">全体に公開</div>
                        <div class="room-member-title">参加者</div>
                        <div class="room-member-icon" id="audienceview">
                            <a href="#"><img class="icon_ss" src="https://si0.twimg.com/sticky/default_profile_images/default_profile_0_normal.png"></a><a href="#"><img class="icon_ss" src="https://si0.twimg.com/sticky/default_profile_images/default_profile_0_normal.png"></a><a href="#"><img class="icon_ss" src="https://si0.twimg.com/sticky/default_profile_images/default_profile_0_normal.png"></a><a href="#"><img class="icon_ss" src="https://si0.twimg.com/sticky/default_profile_images/default_profile_0_normal.png"></a>
                        </div>
                        <!--div>いま部屋にいるひと : <span id="peaple"></span>人</div-->
                    </div>
                </div>
            </div><!-- room -->

            <!--
            <div class="room-menu">
                <ul>
                    <li class="active">おしゃべり</li>
                    <!-- a href="/chatrooms/<%= chatroom.id %>"><li>参加申請</li></a -->
                </ul>
            </div>
<<<<<<< HEAD

=======
            -->
            
>>>>>>> デザイン修正
            <div class="message">

                <div class="message-help-inbox">
                    <div class="help-icon">
                        <img class="icon_m" src="/img/chara.png">
                    </div>
                    <div class="help-titlebox">
                        <p class="help-title">こんにちは！シャベリハウスシステムです。<br>この画面では、参加者どうしで、自由におしゃべりできます。<br>どんどん投稿して、おしゃべりを楽しみましょー！</p>
                        <!--img class="help-img" src="http://www1.u-netsurf.ne.jp/~tukinowa/gallery/picture/fuji-gennsou.jpg"-->
                        <div class="help-username">by.シャベリハウスシステム</div>
                    </div>
                </div>
<<<<<<< HEAD
                <hr>

=======
                
>>>>>>> デザイン修正
                <div id="lines1">
                <% chats.forEach(function(chat) { %>
                    <section id="chat-content-<%= chat.id %>">
                    <% if (chatroom.ownerId == chat.user_id) { //ownerの投稿 %>
                    <div class="message-owner-inbox">
                        <div class="owner-icon">
                            <img class="icon_m" src="<%= chat.userimage %>">
                        </div>
                        <div class="owner-titlebox">
                            <p class="owner-title"><%- esc(chat.message) %></p>
                            <!--img class="owner-img" src="http://www1.u-netsurf.ne.jp/~tukinowa/gallery/picture/fuji-gennsou.jpg"-->
                            <div class="owner-username"><a href="#">by.<%= chat.username %></a></div>
                            <div class="owner-date"><%= chat.time %> [1]
                            <% if (isAuth && chat.user_id == userId) { %>
                            <img src="/img/remove.gif" width="12" height="12" alt="閉じる" class="delete_cmt" data-chatid="<%= chat.id %>">
                            <% } %>
                            </div>
                        </div>
                    </div>
                    <% }else{ //memberの投稿%>
                    <div class="message-member-inbox">
                        <div class="member-icon">
                            <img class="icon_m" src="<%= chat.userimage %>">
                        </div>
                        <div class="member-titlebox">
                            <p class="member-title"><%- esc(chat.message) %></p>
                            <!--img class="member-img" src="http://www1.u-netsurf.ne.jp/~tukinowa/gallery/picture/fuji-gennsou.jpg"-->
                            <div class="member-username"><a href="#">by.<%= chat.username %></a></div>
                            <div class="member-date"><%= chat.time %> [2]
                            <% if (isAuth && chat.user_id == userId) { %>
                            <img src="/img/remove.gif" width="12" height="12" alt="閉じる" class="delete_cmt" data-chatid="<%= chat.id %>">
                            <% } %>
                            </div>
                            <% if (isAuth && chat.user_id == userId) { //ownerでログイン%>
                            <% } else { %>
                                <% if (chatroom.status !== 2 && !isUrlOpen && isOwner) { %>
                                <% if (chat.invited == 0) { %>
                                <a href="javascript:void(0);" class="start_chat" data-userid="<%= chat.user_id %>" data-chatid="<%= chat.id %>">[招待]</a>
                                <% } else { %>
                                  [招待済]
                                <% }%>
                              <% } %>
                            <% } %>
                        </div>
                    </div>
                    <% } %>
                    </section>
                <% }) %>
                </div><!-- lines1 -->

                <div class="message-add-inbox"
                <% if ((!isMember && isUrlOpen) ||
                      (chatroom.status !== 2 && !isUrlOpen && (!isAuth || locals.alreadyDone))) { %>
                          style="display:none;"
                <% } %>>
                    <div class="add-icon">
                        <img class="icon_m" src="<%= locals.userImage %>">
                    </div>
                    <div class="add-titlebox">
                        <textarea type="text" value="" id="message1" style="overflow:hidden; resize:none; word-wrap:normal;" cols="60" wrap="off"></textarea>
                        <a href="javascript:void(0)" id="emoji_butt"><input type="button" class="button_stamp" value="^^"></a>
                        <input type="button" class="button_plus" value="+">
                        <div id="uploadings">
                            <input type="file" id="uploadings_input" name="dec_image2" value="">
                            <input type="hidden" id="realUpfile" value="">
                        </div>
                    </div>
                    <div class="add-button">
                        <label for="submit_1">
                            <input type="button" class="button_g" id="submit_1" value="投稿">
                        </label>
                    </div>
                </div>

            </div><!-- message -->

        </div><!-- left-content -->

        <!--
        <div class="right-content">

            <div class="cboard">
                <div class="cboard-titlebox">
                    <div class="cboard-icon">Q</div>
                    <div class="cboard-title">詳しいひと募集板</div>
                </div>
                <div class="cboard-entry">
                    <ul>
                        <li>
                           <input type="button" class="button_yg full_width" value="投稿する">
                        </li>
                        <li>
                            <div class="cboard-entry-title">飲食店経営者のひといませんか？</div>
                            <div class="cboard-entry-userbox">
                                <div class="cboard-entry-username">ビーフ</div>
                                <div class="cboard-entry-icon"><img class="icon_ss" src="https://si0.twimg.com/sticky/default_profile_images/default_profile_0_normal.png"></div>
                            </div>
                        </li>
                        <li>
                            <div class="cboard-entry-title">主婦歴長いひとと話したいです。</div>
                            <div class="cboard-entry-userbox">
                                <div class="cboard-entry-username">ビーフ</div>
                                <div class="cboard-entry-icon"><img class="icon_ss" src="https://si0.twimg.com/sticky/default_profile_images/default_profile_0_normal.png"></div>
                            </div>
                        </li>
                        <li>
                            <div class="cboard-entry-title">毎日の献立に困らないこつを教えて欲しい・・・。</div>
                            <div class="cboard-entry-userbox">
                                <div class="cboard-entry-username">ビーフ</div>
                                <div class="cboard-entry-icon"><img class="icon_ss" src="https://si0.twimg.com/sticky/default_profile_images/default_profile_0_normal.png"></div>
                            </div>
                        </li>
                        <li>
                            <div class="cboard-entry-title">最近ハワイに行ったひと居ませんか？</div>
                            <div class="cboard-entry-userbox">
                                <div class="cboard-entry-username">ビーフ</div>
                                <div class="cboard-entry-icon"><img class="icon_ss" src="https://si0.twimg.com/sticky/default_profile_images/default_profile_0_normal.png"></div>
                            </div>
                        </li>
                        <li>
                           <input type="button" class="button_yg full_width" value="もっと見る">
                        </li>
                    </ul>
                </div>
            </div>

        </div><!-- right-content -->

    </div><!-- content -->

<% include footer %>
</div>

</body>
</html>
