<!DOCTYPE HTML>
 <html lang="ja" data-host="http://<%= host %>" data-chatroom="<%= chatroomId %>" data-userid="<%= userId %>" data-username="<%= userName %>">
<head>
<title><%= title %>｜シャベリハウス</title>
<meta charset="UTF-8">
<meta name="description" content="友人やちょっとした知り合い、共通の仲間と家(コミュニティ)を作り、楽しくシャベリあおう！">
<meta name="keywords" content="シャベリハウス,チャット,趣味,興味,twitter,facebook,mixi">
<link rel="shortcut icon" href="http://syaberi-house.com/img/favicon.ico" />
<link rel="stylesheet" href="/css/html5reset-1.6.1.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" href="/css/common.css" />
<style type="text/css">
  .house_bg { background: url('<%= house_image %>'); }
</style>
<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js" charset="UTF-8"></script><![endif]-->
<script src="/js/lib/jquery-1.8.2.js"></script>
<script src="/js/lib/underscore.js"></script>
<script src="/js/lib/backbone.js"></script>
<script src="/js/lib/backbone-validation.js"></script>
<script src="/js/lib/handlebars-1.0.rc.1.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/menu.js"></script>
<script src="/js/util.js"></script>
<script src="/js/templates/chat.js"></script>
<script src="/js/models/chat.js"></script>
<script src="/js/views/chat.js"></script>
<script src="/js/chatroomApp.js"></script>
</head>
<body>
<div id="wrapper">

<% include header %>


<div id="contents_wrapp" <% if ( dec_image ) { %>style="background-image:url('<%= dec_image %>');"<% } %>>
  <div id="contents_wrapp_inside">
<section id="thread">
<div id="thread_wrapp">
<h3 id="thread_h3"><%= title %></h3>
<div class="thread_txt"><%= description %></div>
<div class="txtc magb13" id="inv_friendsbtn"><a href="#lightboxinvite_wrapp" class="nyroModal" rel="lightboxinvite"><img src="/img/common/invitefriends_b.png" id="invite_banner" alt="このチャットルームに友達を招待する"></a></div>
<div class="txtc magb13">
</div>
<div id="pullarea" style="display:none;">
<div class="txtl bg_g padt10 clearfix">
<p class="fontb fltl padl10">今チャットルームにいる人</p><p class="fltr padr10 text16 fontb"><span id="peaple"></span>人</p>
</div>
<div class="participant thread_friends clearfix bg_g" id="audienceview">
</div>
</div>
<a href="#" id="pullpullpull"></a>
</div><!--/thread_wrapp-->
</section>
    <section id="section_thread_left">
      <article>
        <div class="thread_article_box_left fltl">
          <div class="thread_article_box_wrapp_left">
            <div class="thread_article_txt">

              <div class="main-view"><!-- main-view -->
                <div id="disparea">
                  <div id="view_frame" class="view">
                    <img src="/img/hint0.png" style="width:400px;">
                  </div>
                </div>
              </div><!-- /main-view -->

            </div>
          </div>
        </div>
      </article>
    </section><!--/section_thread_left-->

    <section id="section_thread_right">
      <div id="lines1" class="chat">
        <% chats.forEach(function(chat) { %>
          <article class="chat-content" id="chat-content-<%= chat.id%>"><div class="thread_article_thumb fltl"><img src="<%= chat.userImage %>" width="40" height="40"></div><div class="thread_article_box_arrowl"></div><div class="thread_article_box magl22 fltl"><div class="thread_article_box_wrapp"><h4><%= chat.username %></h4><div class="thread_article_date"><%= chat.time %></div><div class="thread_article_txt"><%= chat.message %></div></div></div></article>
        <% }) %>

      </div>
    </section><!--/section_thread_right-->

<!--投稿コメントエリア-->
    <section id="section_thread_bottom">
      <div id="thread_comment_box">
        <h3 id="comment_h3">コメント</h3>
        <table id="comment_wrapp">

          <form id="send-message1">
<tr>
<td colspan="6">
<div id="comment_wrapp_inputarea"><textarea type="text" value="" id="message1" style="overflow:hidden; resize:none; word-wrap:normal;" cols="60" wrap="off"></textarea></div>
</td>
</tr>
<tr>
<td width="77"><a href="javascript:void(0)" id="emoji_butt"><img src="/img/room_pull.gif" width="67" height="30"></a></td>
<!--td width="90"><a href="#"><img src="/img/room_attach.gif" width="67" height="30"></a></td-->
<td width="90" style="vertical-align:top;">
<div id="uploadings">
<input type="file" id="uploadings_input" name="dec_image2" value="">
<input type="hidden" id="realUpfile" value="">
</div>
</td>
<td width="50" id="comment_flag_fb" style="display:none;" style="vertical-align:middle;"><input type="checkbox" name="comment_check_fb" class="comment_radio" id="comment_check_fb" value=""><label for="comment_check_fb"><img src="/img/room_radio_fb.gif" width="19" height="19"></label></td>
<td width="50" id="comment_flag_tw" style="display:none;" style="vertical-align:middle;"><input type="checkbox" name="comment_check_tw" class="comment_radio" id="comment_check_tw" value=""><label for="comment_check_tw"><img src="/img/room_radio_tw.gif" width="19" height="19"></label></td>
<td width="50" id="comment_flag_mx" style="display:none;" style="vertical-align:middle;"><input type="checkbox" name="comment_radio_mx" class="comment_radio" id="comment_radio_mx" value=""><label for="comment_radio_mx"><img src="/img/room_radio_mx.gif" width="19" height="19"></label></td>
<td>
<label for="submit_1">
<input type="image" src="/img/room_toukou.gif" class="fltr" id="submit_1">
</label>
</div>
</td>
</tr>

</table><div id="scrl_top"><a href="javascript:void(0);" title="ページTOP">▲</a></div>
      </div>
    </section><!--/section_thread_bottom-->
  </div><!--/#contents_wrapp_inside-->
</div><!--/#contents_wrapp-->



<div class="main-img">

<div class="ticket-wrapper" style="width:969px;">
<div class="left" style="display:none;">
  <h1 style="font-size:26px;padding:20px;"></h1>
</div>
<div class="header-icon" id="users_view"></div>
</div>

<!-- OLD STYLE -->

<div id="content-wrapper">

<div class="container"><!-- container -->
<div class="content"><!-- content -->

<div class="content-header"><!-- content-header -->
  </div><!-- /content-header -->
  <div style="clear:both;"></div>

  <div class="content-body"><!-- content-body -->
    <div class="main-chat"><!-- main-chat -->
      <div class="title"></div>
      <div class="input"><!-- input -->
      </div><!-- /input -->

    </div><!-- /main-chat -->
  </div><!-- /content-body -->
  <div style="clear:both;"></div>

</div>
</div>

</div>

<!-- /OLD STYLE -->
<input type="hidden" id="onetime_token" name="onetime_token" value="<%= onetime_token %>">

<% include footer %>
</div><!--/#wrapper-->


<!--lightbox invite-->
  <div id="lightboxinvite_wrapp" style="width:698px; background:#ffffff; margin:0px auto; display:none;">
  <h3 id="makecommunity_invite_h3" class="padt10"><img src="/img/makecommunity_invite_h3.gif" width="98" height="15" alt="友達を招待する"></h3>
  <div id="makecommunity_invite_tab">
      <ul id="tab_ul">
        <li id="tab_1" class="bg_ov top1px" style="display:none;"><img src="/img/makecommunity_invite_fb.png" width="97" height="25" alt=""></li>
        <li id="tab_2" class="bg_ov top1px" style="display:none;"><img src="/img/makecommunity_invite_tw.png" width="98" height="25" alt=""></li>
        <li id="tab_3" class="bg_ov top1px" style="display:none;"><img src="/img/makecommunity_invite_mx.png" width="79" height="25" alt=""></li>
        <li id="tab_4" class="bg_ov top1px" style="display:none;"><img src="/img/makecommunity_invite_ml.png" width="41" height="25" alt=""></li>
      </ul>
        <div id="scrollbar1">
          <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
          <div class="viewport">
             <div class="overview">

            <ul id="tab_1_area" class="tab_wrapp none"></ul>

            <ul id="tab_2_area" class="tab_wrapp none"></ul>

            <ul id="tab_3_area" class="tab_wrapp none"></ul>
            <form action="" target="mixi-send-friend" method="post" id="mixi-send-form" name="mixi-send-form" style="display:none">
              <input type="hidden" name="title" id="mixi-send-title" value="">
              <input type="hidden" name="body" id="mixi-send-body" value="">
              <input type="hidden" name="recipients" id="mixi-send-recipients" value="">
              <input type="hidden" name="access_token" id="mixi-access_token" value="">
              <input type="hidden" name="refresh_token" id="mixi-refresh_token" value="">
              <input type="hidden" name="user_id" id="mixi-user_id" value="">
              <input type="hidden" name="mixi_code" id="mixi-code" value="">
            </form>

            <ul id="tab_4_area" class="tab_wrapp none">
              <li>
                <div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
                <div class="invite_li_tumnb"><img src="/img/top_thumb_s.jpg" width="40" height="40"></div>
                <div class="invite_li_name"></div>
              </li>
            </ul>
            </div><!--/overview-->
          </div><!--/viewport-->
          <div id="end_disp" style="display:none; overflow:hidden; color:#333333; height:347px; "class="txtc text20">
            <p style="font-weight:bold; padding-top:200px;">招待完了</p>
          </div><!--end_disp-->
        </div><!--/scrollbar1-->
  </div><!--/makecommunity_invite_tab-->
  <!--div class="txtc padt20 padb20 bg_w bdlf bdbt bdrt" style="width:698px;"><input type="image" onclick="sendMessage()" src="/img/makecommunity_invite_submit.png" width="396" height="73" alt="送信"></div-->
  <div class="padt20 bg_w bdlf bdbt bdrt txtc" style="width:698px; height:114px;"><input type="image" id="inv_submit" class="mag0a" onclick="sendMessage()" src="/img/makecommunity_invite_submit.png" width="396" height="73" alt="送信"></div>
</div>
<% if (typeof onetime_token !== 'undefined' && onetime_token) { %>
<input type="hidden" id="onetime_token" name="onetime_token" value="<%= onetime_token %>">
<% } %>
</body>
</html>
