<!DOCTYPE HTML>
<html lang="ja"
  data-host="<%= config.server.host %>"
  data-profileid="<%= profile.id %>"
  data-profilename="<%= profile.name %>"
<% if (isMine) { %>
  data-profileemail="<%= profile.email %>"
<% } %>
  data-profiledescription="<%= profile.description %>"
>
<head>
<meta charset='utf-8' />
    <title>マイページ｜シャベリハウス</title>
    <meta name="description" content="詳しい人と話せる新感覚のコミュニティ">
    <meta name="keywords" content="シャベリハウス,話す,詳しい人,Q&A,解決,悩み,問題">
    <meta name="viewport" content="width=device-width; initial-scale=1.0" />
    <link charset="utf-8" href="/css/reset.css" rel="stylesheet" type="text/css" />
    <link media="screen and (max-width: 768px)" charset="utf-8" href="/css/style_sm.css" rel="stylesheet" type="text/css" />
    <link media="screen and (min-width: 769px)" charset="utf-8" href="/css/style_pc.css" rel="stylesheet" type="text/css" />
    <!--[if IE]><link charset="utf-8" href="/css/style_pc.css" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js" charset="UTF-8"></script><![endif]-->
    <% if (isProduction) { %>
    <script src="/js/dist/common.min.js"></script>
    <script src="/js/dist/mypage.min.js"></script>
    <% } else { %>
    <script src="/js/lib/jquery-1.8.2.js"></script>
    <script src="/js/lib/jquery.cookie.js"></script>
    <script src="/js/lib/underscore.js"></script>
    <script src="/js/lib/backbone.js"></script>
    <script src="/js/lib/backbone-validation.js"></script>
    <script src="/js/lib/handlebars-1.0.rc.1.js"></script>
    <script src="/js/menu.js"></script>
    <script src="/js/util.js"></script>
    <script src="/js/templates/mypage.js"></script>
    <script src="/js/models/user.js"></script>
    <script src="/js/models/chatroom.js"></script>
    <script src="/js/views/mypage.js"></script>
    <script src="/js/mypageApp.js"></script>
    <% } %>
</head>
<body>

<div id="wrap">

<% include header %>

        <div id="mainview">
            <div class="sbtn">
                <ul>
                    <li class="sbtn-tw">
                        <a href="https://twitter.com/share" class="twitter-share-button" data-lang="ja">ツイート</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                    </li>
                    <li class="sbtn-fb">
                        <div class="fb-like" data-href="http://syaberi-house.com" data-send="true" data-width="450" data-show-faces="true"></div>
                    </li>
                </ul>
            </div>
        </div>

        <div id="content">

            <div class="left-content">

                <div class="profile">
                    <div class="profile-inbox">
                        <div class="profile-icon">
                            <img class="icon_l" src="<%= profile.image %>">
                        </div>
                        <div class="profile-username">
                            <h1><%= profile.name %>のプロフィール</h1>
                        </div>
                    </div>
                    <div class="profile-option">
                        <p><%- esc(profile.description) %></p>
                    </div>
                </div>

                <div class="mypage-menu">
                    <ul>
                        <article id="owner-chatrooms" class="community_room">
                          <li class="active"><a href="javascript:void(0)">作成した部屋</a></li>
                        </article>
                        <% if (isMine) { %>
                        <article id="join-chatrooms" class="community_room">
                          <li><a href="javascript:void(0)">参加中の部屋</a></li>
                        </article>
                        <article id="edit-profile" class="community_room">
                          <li><a href="javascript:void(0)">プロフィール設定</a></li>
                        </article>
                        <% } %>
                    </ul>
                </div>

                <div id="article_area"></div><!-- article_area -->
                <div id="view-more-events"><a href="javascript:void(0);"><input type="button" class="button_yg full_width" value="もっと見る"></a></div>

            </div><!-- left-content -->

            <!--
            <div class="right-content">

                <div class="cboard">
                    <div class="cboard-titlebox">
                        <div class="cboard-icon">Q</div>
                        <div class="cboard-title">詳しいひと募集板</div>
                    </div>
                    <div class="cboard-entry">
                        <ul>
                            <li>
                               <input type="button" class="button_yg full_width" value="投稿する">
                            </li>
                            <li>
                                <div class="cboard-entry-title">飲食店経営者のひといませんか？</div>
                                <div class="cboard-entry-userbox">
                                    <div class="cboard-entry-username">ビーフ</div>
                                    <div class="cboard-entry-icon"><img class="icon_ss" src="https://si0.twimg.com/sticky/default_profile_images/default_profile_0_normal.png"></div>
                                </div>
                            </li>
                            <li>
                                <div class="cboard-entry-title">主婦歴長いひとと話したいです。</div>
                                <div class="cboard-entry-userbox">
                                    <div class="cboard-entry-username">ビーフ</div>
                                    <div class="cboard-entry-icon"><img class="icon_ss" src="https://si0.twimg.com/sticky/default_profile_images/default_profile_0_normal.png"></div>
                                </div>
                            </li>
                            <li>
                                <div class="cboard-entry-title">毎日の献立に困らないこつを教えて欲しい・・・。</div>
                                <div class="cboard-entry-userbox">
                                    <div class="cboard-entry-username">ビーフ</div>
                                    <div class="cboard-entry-icon"><img class="icon_ss" src="https://si0.twimg.com/sticky/default_profile_images/default_profile_0_normal.png"></div>
                                </div>
                            </li>
                            <li>
                                <div class="cboard-entry-title">最近ハワイに行ったひと居ませんか？</div>
                                <div class="cboard-entry-userbox">
                                    <div class="cboard-entry-username">ビーフ</div>
                                    <div class="cboard-entry-icon"><img class="icon_ss" src="https://si0.twimg.com/sticky/default_profile_images/default_profile_0_normal.png"></div>
                                </div>
                            </li>
                            <li>
                               <input type="button" class="button_yg full_width" value="もっと見る">
                            </li>
                        </ul>
                    </div>
                </div>

            </div><!-- right-content -->

        </div><!-- content -->

<% include footer %>
</div>
<input type="hidden" name="_csrf" id="_csrf" value="<%= _csrf %>">
</body>
</html>
